/* Feito por Mahienny */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /**/
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px; 
  padding: 20px;
}

.container {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  gap: 18px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

h2 {
  text-align: center;
  color: #3d3d3d;
}

.input-group {
  position: relative;
  width: 100%;
}

.input-group i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
  color: #8e8d8d;
  pointer-events: none;
}

.input-group input {
  width: 100%;
  padding: 10px 12px 10px 44px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  outline: none;
}

.input-group input:hover{
  border-bottom: 1px solid #4e99e6;
}

button {
  background-color: #4e99e6;
  color: #fff;
  border: none;
  border-radius: 2px;
  width: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 15px;
}

button:hover {
  background-color: #337ccc;
  transform: translateY(-3px); /*move um elemento verticalmente*/
}

.container a {
  text-align: center;
  color: #337ccc;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 25px;
}

.container a:hover {
  text-decoration: underline;
}



.erro-msg {
  background-color: #ffe0e0;
  color: #a00;
  border: 1px solid #d88;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-weight: bold;
}
.sucesso-msg {
  background-color: #e0ffe0;
  color: #0a0;
  border: 1px solid #8d8;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-weight: bold;
}


