* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(135deg, #fff, #cbe7ff);
  min-height: 100vh;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px; 
}
.container {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  min-width: 450px;
}
.container:has(table){
  max-width: 1200px;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #333;
}

.form-header h2::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #8cbfeb;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #667eea;
  outline: none;
}

.btn {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #667eea;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-hover);
}

.extra {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.link{
  display: flex;

  p{
  color: var(--text-muted);
  margin: auto;
  }
}

a {
  color: var(--link);
  text-decoration: none;
  margin: auto;
}

a:hover {
  text-decoration: none;
}
.data-table {
  width: 100%;
  min-width: 1000px;
  margin: 2rem auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
}

.data-table thead {
  background-color: var(--thead);
}

.data-table thead th {
  text-align: left;
  padding: 12px 16px;
  border-bottom: 1px solid #ccc;
  color: #333;
  font-weight: bold;
}

.data-table tbody td {
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  color: #555;
}

.data-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.data-table tbody tr:hover {
  background-color: #f0f8ff;
  cursor: default;
}
.erro-msg {
  background-color: #ffe0e0;
  color: #a00;
  border: 1px solid #d88;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-weight: bold;
}
.sucesso-msg {
  background-color: #e0ffe0;
  color: #0a0;
  border: 1px solid #8d8;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .container {
    margin: 0 1rem;
    padding: 1.5rem;
  }
}