.tipo-usuario {
  display: flex;
  align-items: flex-start;
}
.tipo-usuario label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.tipo-usuario input[type="radio"] {
  margin: 0;
  cursor: pointer;
}