@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.container {
  margin: 0px auto;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px; 
  padding: 20px;
  display: flex;
  justify-content: center;
}

button{
  margin-top: 0;
}

.tipo-usuario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    font-size: 13px;
    width: 65%;
    margin-bottom: 1rem;
}

.tipo-usuario label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.tipo-usuario input[type="radio"] {
    margin: 0;
    cursor: pointer;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 9px;
}

.form-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.form-header h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #8cbfeb;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
  background-color: #eeeeee75;
  cursor: pointer;
}

.input-box input:focus-visible {
  outline: 1px solid #a1cef5;
}

.input-box input::placeholder {
  color: #000000be;
}

.continue-button button {
  width: 30%;
  border: none;
  background-color: #8cbfeb;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-button button:hover {
  background-color: #4b93d2;
}

.continue-button button a {
  text-decoration: none;
  color: #fff;
  font-size: 0.93rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
}

@media (max-width: 992px) {
  .container {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 1200px) {
  
  .container {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
