
body {
    overflow-wrap: break-word;
}
.container{
    max-width: 700px;
}

.container h1 {
    text-align: center;
    margin-bottom: 1px;
}

.container > div {
    background-color: #f9fbff;
    border: 1px solid #e1e7f0;
    border-radius: 10px;
    padding: 10px;
}

.container h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #2d3748;
}

.container p {
    color: #555;
    padding-bottom: .4rem;
}

strong{
  font-weight: 700;
  color: var(--text-soft);
  font-size: 0.9rem;
}

#Baixa {
    color: green;
}

#Media {
    color: orange;
}

#Alta {
    color: red;
}