@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: "Nunito";
}

.container {
  width: 100%;
  max-width: 380px;
  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.caixa input {
  width: 100%;
  padding: 17px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #3a7d3b;
}
.caixa ::placeholder {
  color: #fff;
  font-size: 13px;
}

.box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.box i {
  margin-right: 10px;
  color: #555;
}

.box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.botao {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao button {
  width: 50%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 1.3s;
}

.botao button:hover {
  background-color: #0056b3;
}


